<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por:<br>
    Irene Ayuso Yuste<br>
    Javier Otero Martinez
</p>
<p>
    URL del directorio de GitHub: https://github.com/Joterom/quiz_2017
</p>
<p>
    Fotos de los integrantes de la pareja:
</p>
<img height="400" width="400" src="/images/fotoirene.jpg" />
<img height="400" width="400" src="/images/fotojavi.jpg" />

