<h1>Ayuda</h1>

<p>
    Página de ayuda del proyecto Quiz para CORE. Este proyecto trata de
    establecer una aplicación web quee soporte una red social de adivinanzas
    en la que diferentes usuarios puedden logearse y darse de alta para
    participar.
</p>
